# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# VSC
/.vscode/

# production
/build
/public/nft_images
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# vercel
.vercel


